* {
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'main'
    'footer';
    gap: 10px;
    padding: 10px;
}


.grid-container > div {
  padding: 10px;
  font-size: 50px;
}

body {
    font-family: "Courier Prime", monospace;
    font-style: normal;
    background-color: #1f1e1f;
    color: #ffd3ba;
}
p,td {
    font-size: 14px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 30px;
}

a:link{
    color: #f78088;
    text-decoration: none;
}
a:visited {
    color: #ef2d56;
}
a:hover {
    color: #f78088;
    text-decoration: underline;
}
a:active {
    color: #40F99B;
    text-decoration: underline;
}


table, th, td {
    border: 2px solid #ffd3ba;
    border-collapse: collapse;
}
th {
    font-size: 18px;
    padding: 8px;
}
td {
    padding: 8px;
}

.top {
    grid-area: main;
    text-align: left;
}
.bottom {
    grid-area: footer;
    text-align: right;
}
